footer.footer
  .container
    .footer__socials
      +logo()(class="footer__logo")
      .socials-links.footer__socials-links
        a.social-link(href="#")
          i.icon.icon__vk.social-link__icon
        a.social-link(href="#")
          i.icon.icon__fb.social-link__icon
        a.social-link(href="#")
          i.icon.icon__inst.social-link__icon
      mixin linkButton("RU", true)(class="footer__socials-language")
    .footer__copyright
