.hero
  .container
    .hero__inner
      h1.hero__title Эксклюзивная 
        em.hero__emphasize фотосессия 
        | при полете на вертолете
      .balloon-price.hero__balloon-price
        .balloon-price__background
          +baloon
        .balloon-price__content
          span.balloon-price__text Стоимость:
          span.balloon-price__cost 1500₽
          span.balloon-price__percent %
      button.button.hero__button Забронировать место
