section.map
  script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4e3ec28fc9654bb168863fc1d9622a64a7e446e713b4f1891c973e8c4cfdf3a1&amp;width=100%25&amp;height=509&amp;lang=ru_RU&amp;scroll=true")
