mixin photoItem(imgSrc)
  .photo__photo-item&attributes(attributes)
    img.photo__photo-image(src=imgSrc, alt="Фотография со свидания")

section.section.photo
  .container
    .photo__inner
      h3.photo__title Фотографии пакета:
      .photo__photos-container
        +photoItem("./img/photo/photo-1.jpg")
        +photoItem("./img/photo/photo-2.jpg")
        +photoItem("./img/photo/photo-3.jpg")
        +photoItem("./img/photo/photo-4.jpg")
        +photoItem("./img/photo/photo-3.jpg")
        +photoItem("./img/photo/photo-4.jpg")
        +photoItem("./img/photo/photo-2.jpg")
        +photoItem("./img/photo/photo-3.jpg")
        +photoItem("./img/photo/photo-1.jpg")(class="photo__photo-item_hidden")
        +photoItem("./img/photo/photo-2.jpg")(class="photo__photo-item_hidden")
        +photoItem("./img/photo/photo-3.jpg")(class="photo__photo-item_hidden")
        +photoItem("./img/photo/photo-4.jpg")(class="photo__photo-item_hidden")
        +photoItem("./img/photo/photo-3.jpg")(class="photo__photo-item_hidden")
        +photoItem("./img/photo/photo-4.jpg")(class="photo__photo-item_hidden")
        +photoItem("./img/photo/photo-2.jpg")(class="photo__photo-item_hidden")
        +photoItem("./img/photo/photo-3.jpg")(class="photo__photo-item_hidden")
      .photo__footer
        +linkButton("Показать все фото")
