.photo
  padding-top: 30px
  &__inner
    border-bottom: 0.5px solid $border-color
  &__title
    margin-bottom: 37px
    font-size: 20px
    line-height: 29px
    font-weight: 500
  &__photos-container
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
  &__photo-item
    min-height: 185px
    min-width: 275px
    margin-right: 10px
    margin-bottom: 10px
    flex-basis: 275px
    flex-shrink: 1
    &_hidden
      display: none
  &__photo-image
    border-radius: 4px
  &__footer
    height: 80px
    +flexCenter

+tablet
  .photo
    .container
      max-width: none
    &__title
      max-width: 90%
      margin-left: auto
      margin-right: auto
    &__photos-container
      padding: 0 15px
      max-height: 275px
      flex-wrap: nowrap
      justify-content: flex-start
    &__photo-item_hidden
      display: block
    &__footer
      display: none
